html(lang="en")
  head

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
    script(src="underscore-min.js")
    script(src="backbone-min.js")
    script(src="http://js.pusherapp.com/1.9/pusher.min.js")

    <script type="text/javascript">
    | var pusher = new Pusher("#{key}");
    | var subject = "#{subject}"; // get subject into JS code
    | var channelName = "#{channelName}";
    </script>

    script(src="client.js")

    link(rel='stylesheet', href='main.css')

    title= appTitle

  body
    .main-container
      .interface
        .title
          h1= appTitle

        .instructions Enter a subject you think people are tweeting about

        form(class="subject-form", action="/")
          input(name="subject", value="#{subject}")
        br
        - if (tracking.length)
          .already-tracking
          - tracking.forEach(function(item) {
            - if (item != subject)
              a(href='/?subject=' + item)= item
          - })

        #filtrandapp

          .content
            #tweets
              ul#tweet-list

          <script type="text/template" id="item-template">
          <div class="display"><div class="tweet-text">
          <%= this.model.text %>
          </div></div>
          </script>

      .information Filtrand is very interesting.